# Copy IMDb data from .tsv files to bronze tables
## Tables to be copied:
- name.basics
- title.basics
- title.crew
- title.episode
- title.principals
- title.ratings

### name.basics.tsv > name.title_basics

In [0]:
# Set variables for the bronze table
table_name = 'bronze.name_basics'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/name.basics.tsv'

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "nconst STRING NOT NULL, " + \
  "primaryName STRING NOT NULL, " + \
  "birthYear STRING NOT NULL, " + \
  "deathYear STRING NOT NULL, " + \
  "primaryProfession STRING NOT NULL, " + \
  "knownForTitles STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)

### title.basics.tsv > bronze.title_basics

In [0]:
# Set variables for the bronze table
table_name = 'bronze.title_basics'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/title.basics.tsv'
format_option_quote = ""  # an extra option is needed for title.basics to handle titles that start but don't end with a double-quote

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "tconst STRING NOT NULL, " + \
  "titleType STRING NOT NULL, " + \
  "primaryTitle STRING NOT NULL, " + \
  "originalTitle STRING NOT NULL, " + \
  "isAdult STRING NOT NULL, " + \
  "startYear STRING NOT NULL, " + \
  "endYear STRING NOT NULL, " + \
  "runtimeMinutes STRING NOT NULL, " + \
  "genres STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true'," + \
        " 'quote' = '" + format_option_quote + "')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)

### title.crew.tsv > bronze.title_crew

In [0]:
# Set variables for the bronze table
table_name = 'bronze.title_crew'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/title.crew.tsv'

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "tconst STRING NOT NULL, " + \
  "directors STRING NOT NULL, " + \
  "writers STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)

### title.episode.tsv > bronze.title_episode

In [0]:
# Set variables for the bronze table
table_name = 'bronze.title_episode'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/title.episode.tsv'

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "tconst STRING NOT NULL, " + \
  "parentTconst STRING NOT NULL, " + \
  "seasonNumber STRING NOT NULL, " + \
  "episodeNumber STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)

### title.principals.tsv > bronze.title_principals

In [0]:
# Set variables for the bronze table
table_name = 'bronze.title_principals'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/title.principals.tsv'

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "tconst STRING NOT NULL, " + \
  "ordering STRING NOT NULL, " + \
  "nconst STRING NOT NULL, " + \
  "category STRING NOT NULL, " + \
  "job STRING NOT NULL, " + \
  "characters STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)

### title.ratings.tsv > bronze.title_ratings

In [0]:
# Set variables for the bronze table
table_name = 'bronze.title_ratings'
source_data = '/Volumes/dbw_imdb_01/bronze/20241106/title.ratings.tsv'

# Drop the table (if it exists) and re-create it - pay attention to the field names, data types and nulls
spark.sql("DROP TABLE IF EXISTS " + table_name)

spark.sql("CREATE TABLE " + table_name + " (" \
  "tconst STRING NOT NULL, " + \
  "averageRating STRING NOT NULL, " + \
  "numVotes STRING NOT NULL)"
)

# Copy the data into the table
spark.sql("COPY INTO " + table_name + \
  " FROM '" + source_data + "'" + \
  " FILEFORMAT = CSV " + \
  " FORMAT_OPTIONS ('delimiter' = '\t'," + \
        " 'header' = 'true')"
)

# Check a sample of the data to confirm that it has been imported
data = spark.sql("SELECT * FROM " + table_name + " LIMIT 100")
display(data)